
.ProjectsBox{
    border-left: 1px, solid, black;
    border-right: 1px, solid,black;
    border-bottom: 1px, solid, black;
    border-top: 1px, solid, black;


}

.card{
    padding: 10px;
}