.row {
    margin: 15px;

  }

/* .travelpic{
    margin: 15px;
} */

.quote {
   font-family: 'Amatic SC', cursive;
    color: white;    
    font-size: 50px;
    font-size: 25px;
}

.Travel {
    /* background-color:lightgray; */
}

.travelling {
    font-family: 'Lato', sans-serif;
    letter-spacing: 5px;
    color: white;
}

.places {
    font-family: 'Lato', sans-serif;
    letter-spacing: 5px;
    color: white;
}

img:hover {
    opacity: 0.5;
}
