.Home-pic{
    width: 170px;
    height : 200px;
    border-radius: 50%; 
    border: 1px solid #ddd;
    padding: 5px; 
    margin-top: 35px;
}
.Home-picture{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}
.Home-title-slogan em{
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    margin: 0;
}
.Home-title-pic{
    height: 50%;
    width: 50%;
    margin-top: 50px;
}

.Home h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}