
.AboutMe{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img{
    padding: 0;
    display: block;
    margin: 10 auto;
    max-height: 100%;
    max-width: 100%;
}

.img-circle {
    border-radius: 50%;
    position: relative;
    height: 200px;
    width: 200px;
    overflow: hidden;
    padding: 10px;
   
    /* float: left; */
    /* margin-right: 10px; */
}

.get-resume{
    align-content: center;
}

.skills-list{
    text-align: left;
}

.courses-list{
    text-align: left;
}

.thisisme{
    font-family: 'Lato', sans-serif;
    letter-spacing: 5px;
}

.experiences{
    text-align: left;
}
