.icons{
    margin: 15px;
    padding: 15px;
    border-spacing: 15px;
}

.connect{
    font-family:'Lato', sans-serif;
    letter-spacing: 5px;
}

.jumbotron{
    background-color: white;
    background: white !important;
}

.container{
    background: white;
}
